<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="Orange HRM Website Testing">
    <test name="Orange HRM Website Test Cases">
        <classes>
            <class name="testcases.LoginPagetest"/>
            <class name="testcases.Dashboardtest"/>
            <class name="testcases.AdminPagetest"/>
        </classes>
    </test>
</suite>
